@tailwind base;

html {
	font-size: 20px;
}

a {
	position: relative;
	line-height: 1;
}
a:after {

	content: "";
	position: absolute;
	z-index: -1;
	top: 65%;
	left: 0;
	right: 0;
	bottom: 0rem;
	transition: top 200ms cubic-bezier(0, .8, .13, 1);
	@apply bg-indigo-200;
}

a:hover:after {
	top: 0%;
}

@tailwind components;

@tailwind utilities;
