/* Modular Scale
	0.236
	0.382
	0.618
* 1rem
	1.618
	2.618
	4.236
	6.854
*/

@import url('https://fonts.googleapis.com/css?family=Comfortaa:500,600,700&display=swap');

html {
	font-family: 'Comfortaa', cursive;
	font-size: 18px;
	line-height: 1.618;
	text-rendering: optimizeLegibility;
}

body {
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
	margin: 0;
}

html,
body,
#sapper,
main {
	height: 100%;
}

main {
	margin: 0 1rem;
	max-width: 1000px;
}

h1 {
	font-size: 4.236rem;
	letter-spacing: 0.04em;
	margin: 0.382rem 0 1rem;
}

h2 {
	font-size: 2.618rem;
	letter-spacing: 0.03em;
	margin: 0.618rem 0 1rem;
}

h3 {
	font-size: 1.618rem;
	letter-spacing: 0.02em;
	margin: 0.382rem 0 0.618rem;
}

h4,
h5,
h6,
p {
	font-size: 1rem;
	margin: 0.382rem 0 0.618rem;
}

/* Screens larger than 500px */
@media screen and (min-width: 500px) {
	html {
		font-size: calc(18px + 7 * ((100vw - 500px) / 500));
	}

	main {
		margin: 0 1.618rem;
	}
}

/* Screens larger than 1000px */
@media screen and (min-width: 1000px) {
	html {
		font-size: 25px;
	}

	main {
		margin: 0 auto;
	}
}
